.woocommerce .form-table tr:has(.field-deselect-hide) {
    display: none;
}
.woocommerce .form-table tr:has(.field-deselect-hide) td,
.woocommerce .form-table tr:has(.field-deselect-hide) th,
.woocommerce .form-table tr:has(+ tr .field-deselect-hide.show) td,
.woocommerce .form-table tr:has(+ tr .field-deselect-hide.show) th {
    background: #f0f0f1;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.woocommerce .form-table tr:has(.field-deselect-hide) span.woocommerce-help-tip,
.woocommerce .form-table tr:has(+ tr .field-deselect-hide.show) span.woocommerce-help-tip,
.woocommerce .form-table tr:has(.field-deselect-hide.show) span.woocommerce-help-tip {
    margin: 0px -11px 0 0;
}
.woocommerce .form-table tr:has(.field-deselect-hide.show) {
    display: table-row;
    border-bottom: 12px solid transparent;
}
.woocommerce .form-table tr:has(+ tr .field-deselect-hide.show) {
    border: 0;
}
